body {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
  color: #373737;
}

.wrapper {
  max-width: 1280px;
  margin: 0 auto;
}

.nav {
  display: flex;
  justify-content: center;
  justify-items: end;
}
.nav-list {
  margin: 0;
  padding: 0;
  min-height: 75px;
  display: flex;
  width: 620px;
  list-style: none;
  justify-content: space-between;
}
.nav-list__item {
  text-align: center;
  display: flex;
  align-items: center;
}
.nav-list__link {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 2.7px;
  color: #ff0000;
  text-decoration: none;
}
.nav-list__link:hover {
  border-bottom: 1px solid #ff0000;
}
.main-image {
  background-image: url("../image/main-image.jpg");
  background-repeat: no-repeat;
  background-position: center;
  height: 789px;
}

.article {
  padding: 0 69px;
  margin-top: 52px;
}
.article-header {
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: 3.3px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 39px;
}

.article-paragraph {
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 2.4px;
  margin-bottom: 30px;
}
.article-paragraph:last-of-type {
  margin-bottom: 30px;
}

.btn-action {
  display: block;
  height: 51px;
  background-color: #ff0000;
  margin: 74px auto;
  width: fit-content;
  min-width: 190px;
  padding: 12px 43px;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  text-decoration: none;
  color: #ffffff;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 1.8px;
  text-transform: uppercase;
}
.btn-action:hover {
  background-color: #373737;
  box-shadow: #373737;
}
.btn-action:active {
  background-color: aqua;
}

.page-footer {
  display: flex;
  justify-content: flex-end;
  align-content: center;
  align-items: center;
  height: 54px;
  margin: 0 105px;
}
.footer-copyright {
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 2.4px;
}

@media (max-width: 700px) {
  .nav-list {
    flex-wrap: wrap;
  }
  .nav-list__item {
    width: 100%;
    padding: 15px 0;
    justify-content: center;
  }

  .article {
    padding: 0 24px;
  }

  .page-footer {
    justify-content: center;
    text-align: center;
    line-height: 54px;
    margin: 0 25px;
  }
}
